:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  height: 100%;
  margin: 1%;
}

h1{
  height: 5rem;
  font-size: 4rem;
}

mat-icon {
  margin: 2rem;
  transform: scale(3);
}
