<mat-sidenav-container class="sidenav-container" (backdropClick)="close()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport disableClose
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false && user">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-action-list>
      <app-sidenav-item [icon]="'home'" [title]="'Home'" [link]="'home'" [click]="close"></app-sidenav-item>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let link of multiLink">
        <app-sidenav-item [icon]="link.icon" [title]="link.title" [link]="link.link" (click)="link.click()"></app-sidenav-item>
      </ng-container>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let link of soloLink">
        <app-sidenav-item [icon]="link.icon" [title]="link.title" [link]="link.link" (click)="link.click()"></app-sidenav-item>
      </ng-container>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let link of userLink">
        <app-sidenav-item [icon]="link.icon" [title]="link.title" [link]="link.link" (click)="link.click()"></app-sidenav-item>
      </ng-container>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async) && user">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a [routerLink]="['/home']">GoReal</a>
      <span class="spacer"></span>
      <ng-container *ngIf="user as User; else ifAnonym">
        <ng-container *ngFor="let link of connectedToolbarLink">
          <app-toolbar-item [user]="user" [roles]="link.roles" [icon]="link.icon" [link]="link.link" (click)="link.click()"></app-toolbar-item>
        </ng-container>
      </ng-container>
      <ng-template #ifAnonym>
        <ng-container *ngFor="let link of disconnectedToolbarLink">
          <app-toolbar-item [icon]="link.icon" [link]="link.link"></app-toolbar-item>
        </ng-container>
      </ng-template>
    </mat-toolbar>
    <section class="main">
      <router-outlet></router-outlet>
    </section>
    <footer>
      <span>© 2020 Copyright</span>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>