<h2 mat-dialog-title>New Password</h2>
<mat-dialog-content [formGroup]="form">
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput maxlength="20" [type]="hideOldPassword ? 'password' : 'text'" [formControl]="f.oldPassword" required>
          <mat-icon mat-icon-button matSuffix type="button" (click)="hideOldPassword = !hideOldPassword">{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.oldPassword.invalid">{{getErrorMessageOldPassword()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput maxlength="20" [type]="hidePassword ? 'password' : 'text'" [formControl]="f.password">
          <mat-icon mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.password.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirm</mat-label>
          <input matInput maxlength="20" type="password" [formControl]="f.confirm">
          <mat-error *ngIf="f.confirm.invalid">{{getErrorMessageConfirm()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button color="" mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-stroked-button color="primary" [disabled]="form.invalid || isConnecting" (click)="onUpdate()">Update</button>
</mat-dialog-actions>