:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

mat-card-header{
    margin-bottom: 1rem;
  }
  
.full-width {
    width: 100%;
  }
  
.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.col {
flex: 1;
margin-right: 20px;
}

.right{
  float: right;
}