:host {
    display: flex;
    height: 100%;
    margin: 1%;
}

.container {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value-text {
    font-size: 2.4rem;
    margin: 0;
}

.text {
    margin: .5rem;
    text-align: center;
    color: grey;
}

.icon {
    margin: 2rem;
    transform: scale(4);
}

.spacer {
    flex: 0.3 1 auto;
}