<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Update</mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
          <mat-form-field class="mid" appearance="standard">
            <mat-label>GoTag</mat-label>
            <input matInput maxlength="50" [formControl]="f.goTag" required>
            <mat-hint align="end">{{f.goTag.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="f.goTag.invalid">{{getErrorMessageGoTag()}}</mat-error>
          </mat-form-field>
          &nbsp;
          <mat-form-field class="mid" appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput disabled value={{f.email.value}}>
          </mat-form-field>
          <br>
          <mat-form-field class="mid" appearance="standard">
            <mat-label>LastName</mat-label>
            <input matInput maxlength="50" [formControl]="f.lastName">
            <mat-hint align="end">{{f.lastName.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="f.lastName.invalid">{{getErrorMessageLastName()}}</mat-error>
          </mat-form-field>
          &nbsp;
          <mat-form-field class="mid" appearance="standard">
            <mat-label>FirstName</mat-label>
            <input matInput maxlength="50" [formControl]="f.firstName">
            <mat-hint align="end">{{f.firstName.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="f.firstName.invalid">{{getErrorMessageFirstName()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="stretch" appearance="standard">
            <mat-label>Old Password</mat-label>
            <input matInput maxlength="20" [type]="hideOldPassword ? 'password' : 'text'" [formControl]="f.oldPassword" required>
            <button mat-icon-button matSuffix type="button" (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
            <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.oldPassword.invalid">{{getErrorMessageOldPassword()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="stretch" appearance="standard">
            <mat-label>New Password</mat-label>
            <input matInput maxlength="20" [type]="hidePassword ? 'password' : 'text'" [formControl]="f.password">
            <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.password.invalid">{{getErrorMessagePassword()}}</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="stretch" appearance="standard">
            <mat-label>Confirm</mat-label>
            <input matInput maxlength="20" type="password" [formControl]="f.confirm">
            <mat-error *ngIf="f.confirm.invalid">{{getErrorMessageConfirm()}}</mat-error>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button color="success" type="submit" [disabled]="form.invalid || isConnecting">CONFIRM</button> 
      </mat-card-actions>
    </form>
  </mat-card>
  