<mat-grid-list cols="2" rowHeight="fit" gutterSize="1rem">
  <mat-grid-tile class="userInfos" [colspan]="(isHandset$ | async) ? 2 : 1" [rowspan]="1">
    <profile-user-infos></profile-user-infos>
  </mat-grid-tile>
  <mat-grid-tile class="history" [colspan]="(isHandset$ | async) ? 2 : 1" [rowspan]="3">
    <profile-game-history></profile-game-history>
  </mat-grid-tile>
  <mat-grid-tile class="router-outlet" [colspan]="(isHandset$ | async) ? 2 : 1" [rowspan]="2">
    <router-outlet></router-outlet>
  </mat-grid-tile>
</mat-grid-list>  
