:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

mat-card-header {
  justify-content: space-between;
}

button{
  float: right;
}

.full-width-table {
  width: 100%;
}