:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  margin: 1%;
}

mat-grid-list {
  flex: 1 1 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.full-width {
  width: 80%;
}

h2 {
  height: 5rem;
  font-size: 5rem;
}