<mat-card>
  <mat-card-header>
    <div mat-card-avatar><mat-icon class="icon">upgrade</mat-icon> </div>
    <mat-card-title>Update</mat-card-title>
  </mat-card-header>
    <mat-card-content [formGroup]="userForm" (ngSubmit)="onUpdate()">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>GoTag</mat-label>
            <input matInput maxlength="50" [formControl]="f.goTag" required>
            <mat-hint align="end">{{f.goTag.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="f.goTag.invalid">{{getErrorMessageGoTag()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput disabled value={{f.email.value}}>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>LastName</mat-label>
            <input matInput maxlength="50" [formControl]="f.lastName">
            <mat-hint align="end">{{f.lastName.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="f.lastName.invalid">{{getErrorMessageLastName()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>FirstName</mat-label>
            <input matInput maxlength="50" [formControl]="f.firstName">
            <mat-hint align="end">{{f.firstName.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="f.firstName.invalid">{{getErrorMessageFirstName()}}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-stroked-button type="button" (click)="onUpdate()" [disabled]="userForm.invalid || isConnecting">CONFIRM</button> 
      <button mat-stroked-button type="button">CHANGE PASSWORD</button> 
    </mat-card-actions>
</mat-card>
