:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    align-items: flex-end;
    padding: 2rem;
  }

.capture {
 background-color: blue;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }
  
  .col {
  flex: 1;
  margin-right: 20px;
  }