<mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="GoTag">
        <mat-header-cell *matHeaderCellDef> GoTag </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.goTag}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="FullName">
        <mat-header-cell *matHeaderCellDef> Full Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} {{element.firstName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef> Activation Status </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" type="button" (click)="patch(element.userId, 'activate')" [disabled]="element.isActive || element.isRequesting"> 
                <fa-icon [icon]="faUserSlash"></fa-icon> {{element.isActive?"Active":"Inactive"}}
            </button>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isBan">
        <mat-header-cell *matHeaderCellDef> Ban Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-icon-button [color]="element.isBan?'warn':'success'" type="button" (click)="patch(element.userId, 'ban')" [disabled]="element.isRequesting"> 
                <fa-icon [icon]="faBan"></fa-icon> {{element.isBan?"Ban":"Free"}}
            </button>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="AdminDelete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-icon-button color="warn" type="button" (click)="delete(element.userId)" [disabled]="element.isRequesting"> 
                <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
