<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="235px">
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <play-mini-card [icon]="'home'" [duration]="'29+'" [title]="'title'" [value]="5" [color]="'primary'" [percentValue]="50"></play-mini-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <play-card title="Card 2"><div>Mini Card Content Here</div></play-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <play-card title="Card 2"><div>Mini Card Content Here</div></play-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.card.cols"
      [rowspan]="( cardLayout | async )?.card.rows">
      <play-card title="Card 1"><div>Chart Content Here</div></play-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" 
      [rowspan]="( cardLayout | async )?.table.rows">
      <play-card title="History">
        <play-table></play-table>
      </play-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.maxCard.cols"
      [rowspan]="( cardLayout | async )?.maxCard.rows">
      <play-card title="Card 2"><div>Chart Content Here</div></play-card>
    </mat-grid-tile>
  
  </mat-grid-list>
 </div>
