<mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon class="icon" >games</mat-icon></div>
      <mat-card-title>Game Infos</mat-card-title>
      <mat-card-subtitle>{{game.startDate | date:'medium'}}</mat-card-subtitle>
      <span class="spacer"></span>
      <div class="header-details">
        <span>Result: {{game.result}}</span>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="details">
        <mat-icon class="icon-black">circle</mat-icon>
        <span>{{game.blackPlayer.goTag}}</span>
        <span>Rank: {{game.blackRank}}</span>
        <span>Capture: {{game.blackCapture}}</span>
      </div>
      <div class="details">
        <span>{{game.rule.ruleName}} Rule</span>
        <span>{{game.timeControl.speed}} {{game.timeControl.overTime}}</span>
        &nbsp;
        <h1>Vs</h1>
        <span>Size: {{game.size}}x{{game.size}}</span>
        <span>Komi: {{game.komi}}</span>
        <span>Handicap: {{game.handicap}}</span>
      </div>
      <div class="details">
        <mat-icon class="icon-white">circle</mat-icon>
        <span>{{game.whitePlayer.goTag}}</span>
        <span>Rank: {{game.whiteRank}}</span>
        <span>Capture: {{game.whiteCapture}}</span>
      </div>
    </mat-card-content>
  </mat-card>