<mat-card class="card">
<mat-card-header>
  <mat-card-title>Register</mat-card-title>
</mat-card-header>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card-content>
      <mat-form-field appearance="standard">
        <mat-label>GoTag</mat-label>
        <input matInput maxlength="50" [formControl]="f.goTag" required>
        <mat-hint align="end">{{f.goTag.value?.length || 0}}/50</mat-hint>
        <mat-error *ngIf="f.goTag.invalid">{{getErrorMessageGoTag()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>LastName</mat-label>
        <input matInput maxlength="50" [formControl]="f.lastName">
        <mat-hint align="end">{{f.lastName.value?.length || 0}}/50</mat-hint>
        <mat-error *ngIf="f.lastName.invalid">{{getErrorMessageLastName()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>FirstName</mat-label>
        <input matInput maxlength="50" [formControl]="f.firstName">
        <mat-hint align="end">{{f.firstName.value?.length || 0}}/50</mat-hint>
        <mat-error *ngIf="f.firstName.invalid">{{getErrorMessageFirstName()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput maxlength="320" type="email" [formControl]="f.email" required>
        <mat-error *ngIf="f.email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput maxlength="20" [type]="hidePassword ? 'password' : 'text'" [formControl]="f.password" required>
        <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="f.password.invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="standard">
        <mat-label>Confirm</mat-label>
        <input matInput maxlength="20" type="password" [formControl]="f.confirm" required>
        <mat-error *ngIf="f.confirm.invalid">{{getErrorMessageConfirm()}}</mat-error>
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <mat-spinner-button type="submit" [disabled]="form.invalid" [options]="btnOpts"></mat-spinner-button>  
  </mat-card-actions>
</form>
</mat-card>
